extends layout/index

block speakerslist
  include includes/speakerslist.pug
  
block content      
  .container#home
    .row
      .col-sm-8
        .maincontent
          article.article
            h1.article-title Who are we?
            p
              | The Jai MeetMe Academy gets a number of submissions every day for learners interesting in participating in the Webinars.
              | exhibits, and selects many distinct pieces of idea for display in their collective
              | exhibit. In addition, many individuals are honored as Featured learners - each being granted his or her own exhibit
              | to display entire collections of their talent.
            p
              | Each Featured Learner has an opportunity to speak at one of our MeetMe and share his or her vision, perspective,
              | and techniques with attendees on a more personal level than at our large conference. It is truly an honor to
              | be a Featured Learner and many past students, professionals who were featured at MeetMe have gone on to brilliant
              | careers in their profession.
          // article
          article.article
            h1.article-title Get Busy!
            p
              | If you want to keep up with what's going on with the group of MeetMe, 
              a(href='http://jaithakur.com/') join me
              | , 
              a(href='https://twitter.com/JaiShankerT') follow me on twitter
              | . If you're in FaceBook, you can also 
              a(href='https://www.facebook.com/jai.info/') join me on FaceBook
              | .
          // article
          article.article
            h1.article-title Who should come?
            ul
              li Anybody interested in learning and the software industry
              li Developers, Software Engineers, Architects and web professionals
              li
                | Those interested in meeting and making a connection with others in the local learners.
          // article
      // primary
      aside.col-sm-4
        if artwork
          include includes/artwork